<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Form</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="header">
    <div class="logo">
        <span th:text="'SUICT Schedule WebUI'"></span>
    </div>
</div>
<div class="content">
    <div class="form-container">
        <form th:action="@{/schedule/get}" th:object="${scheduleForm}" method="post">
            <label for="institute">Інститут</label>
            <select id="institute" name="institute" th:field="*{institute}">
                <option value="">Виберить институт</option>
                <option th:each="option : ${institutes}" th:value="${option.id}"
                        th:text="${option.instituteName}"></option>
            </select>

            <label for="faculty">Факультет</label>
            <select id="faculty" name="faculty" th:field="*{faculty}">
                <option value="">Виберить факультет</option>
            </select>

            <label for="course">Курс</label>
            <select id="course" name="course" th:field="*{course}">
                <option value="">Виберить курс</option>
            </select>

            <label for="group">Група</label>
            <select id="group" name="group" th:field="*{group}">
                <option value="">Виберить групу</option>
            </select>
            <button id="submitButton" type="submit">Завантажити розклад</button>
        </form>
    </div>
</div>
<script th:src="@{/js/login-page-menu.js}"></script>
</body>
</html>
