<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skedy</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="tabs">
    <!-- Генерация заголовков табов -->
    <div class="tab-headers">
        <button th:each="day : ${days}"
                th:classappend="${day == activeDay} ? 'active'"
                th:text="${day}"
                th:onclick="'changeTab(\'' + ${day} + '\')'">
        </button>
    </div>

    <!-- Контент табов -->
    <div class="tab-content">
        <div th:each="day : ${days}"
             th:if="${day == activeDay}"
             th:text="Hello wrodl">
        </div>
    </div>
</div>

</body>
</html>
